@media only screen and (max-width: 600px) {
    .secondcard{
        flex-direction: column;
        min-width: 50vw;
        min-height: 18vw;
      
    }
    .cardmaintext{
        font-size: 12px;
    }
    .cardsubtext{
        font-size: 10px;
        line-height: normal;
    }
    .secondimgdiv{
        width: 100%;
        height: 40vw;
        
    }
}