
.eighthherotext{
    font-family: Bricolage Grotesque;
}

@media only screen and (max-width: 600px) {
    .eighthherotext{
        font-size: 20px;
        line-height: normal;
        text-align: center;
    }
    .eighthsubtext{
        font-size: 12px;
        line-height: normal;
        text-align: center;
    }
    .eighthcardtext{
        font-size: 18px;
        line-height: normal;
        text-align: center;
        text-align: left;
    }
    .ques{
        font-size: 15px;
        line-height: normal;
        text-align: left;
    }

    .ans{
        font-size: 12px;
        line-height: normal;
        text-align: left;
    }
    .querycontainer{
        height: fit-content;
    }

}